<div class="sticky">
  <div class="home">
    <div class="dol">
      <img [src]="dolImg" width="180px"/>
    </div>
    <ul class="Menu">
      <div>
        <li><a  routerLink="/home">Home</a></li>
      </div>
      <div>
        <nav>
         <li> <a  routerLink="/registration">Registration</a></li>
        </nav>
      </div>
      <div>
        <nav>
          <li><a  routerLink="/about">About</a></li>
        </nav>
      </div>
      <div>
        <nav>
          <li><a  routerLink="/contact">Contact Us</a></li>
        </nav>
      </div>
    </ul>
    </div>
  </div>