<footer class="navbar footer fixed-bottom footer-light footer-shadow content bg-info container-fluid">
   <!-- <div class="bot">
  <div class="inline">
    <img [src]="mobImg" width="50px"/>
    <div class="cont">Contact Number <br/>+91 8553423217</div>
  </div>

  <div class="inline">
    <img [src]="emailImg" width="50px"/>
    <div class="cont">Email Address<br/>poornachandratejas@gmail.com</div>
  </div>

  <div class="inline">
    <img [src]="addImg" width="50px"/>
    <div class="cont">17,18, Bharath HPCS Layout, Uttarahalli,<br/> Bengaluru, Karnataka 560061</div>
  </div>
  <div class="inline">
    <img [src]="faceImg" width="30px"/>
  </div>
  <div class="inline">
    <img [src]="tweetImg" width="30px"/>
  </div>
  <div class="inline">
    <img [src]="gooImg" width="30px"/>
  </div>
  <div class="inline">
    <img [src]="youImg" width="30px"/>
  </div>
</div> --> 
<div class="row">
  <div class="col-4 center">
    

    <img [src]="mobImg" width="20px" />
    <br>
    <a href="callto:5551234567">Call Us(555)123-4567</a>
  </div>
  <div class="col-4 center">
    <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">
      <img [src]="emailImg" width="20px"/>
      <div>Mail Us</div> 
    </a>
  </div>
  <div class="col-4 center">
    <img [src]="addImg" width="20px"/>
    <div>Others Contact</div>
</div>
  <div class="col-4 center">
    <img [src]="faceImg" width="20px"/>
    <br>
    <a href="http://www.facebook.com/pages/xxxx/xxxxxx" target="_black">My Facebook Page</a>
</div>

 <div class="col-4 center">
    <img [src]="tweetImg" width="20px"/>
  <div>Tweet</div>
</div>

<div class="col-4 center">
    <img [src]="gooImg" width="20px"/>
  <div>Google</div>
</div>


</div>
</footer>










  


