<footer class="navbar footer fixed-bottom footer-light footer-shadow content bg-info container-fluid">
   
<div class="row">
  <div class="col-4 center">
    
    <img [src]="mobImg" width="20px" />
    <br>
    <a href="callto:5551234567">Call Us(555)123-4567</a>
  </div>
  <div class="col-4 center">
    <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">
      <img [src]="emailImg" width="20px"/>
      <div>Mail Us</div> 
    </a>
  </div>
  <div class="col-4 center">
    <img [src]="addImg" width="20px"/>
    <br>
    <a href="callto:0802860789">Others Contact(080)2860789</a>
  
</div>
  <div class="col-4 center">
    <img [src]="faceImg" width="20px"/>
    <br>
    <a href="http://www.facebook.com/pages/xxxx/xxxxxx" target="_black">My Facebook Page</a>
</div>

 <div class="col-4 center">
    <img [src]="tweetImg" width="20px"/>
    <br>
    <a href="http://www.tweet.com/pages/xxxx/xxxxxx" target="_black">My tweet Page</a>
  
</div>

<div class="col-4 center">
    <img [src]="gooImg" width="20px"/>
    <br>
    <a href="http://www.google.com/pages/xxxx/xxxxxx" target="_black">My google Page</a>
</div>


</div>
</footer>










  


