a{
  text-decoration: none;
  color: #666;
}
.box{
  text-align: center;
}
.he{
  color: #666;
  font-size: 18px;
  margin: 10px 0px 0px;
  padding: 0px;
  font-family: 'PT Sans', sans-serif !important;
}
.left{
  float: left;
}
.right{
  float: right;
}
.inline{
  display: inline-block;
}
.reg{
  background-color: beige;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px 8px 4px 30px;
  border-color: rgb(248, 202, 146);
}
.mac{
  margin-top: -50px;
}
.hes{
  color: #666;
  top: 10px;
  padding-right: 0;
  background: none;
  position: relative;
  margin: 0px 0px 15px;
  list-style: none;
  font-family: 'PT Sans', sans-serif !important;
}
.container{
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}
.main{
  font-style: oblique;
  font-size: 40px;
}
.inlinespace{
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
}
.reset{
  padding: 10px 20px;
  background-color: #6e9be5;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 5px;
}
.submit{
  padding: 10px 20px;
  background-color: #6e9be5;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 24em;
}
.user{
  height: 24px;
  width: 15em;
  font-size: 16px;
  border-radius: 2px;
}

.leg{
  font-size: 20px;
}
.mainbatch{
  padding: 8px 40px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
.display{
  display: none;
}
input[type=text]{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 16px;
    padding: 12px 20px 12px 30px;
    transition: width 0.5s ease-in-out;
}
input[type=text]:focus {
    width: 70%;
}

textarea{
  width: 80%;
}
