
  <br/><br/>
<div class="container">
  <div class="he">
    <h3 class="left">Registration</h3>
  </div>
  <ul class="right hes">
    <li class="inline">
      <a routerLink="/home">Home</a>
    </li>
    <li class="inline"> / Registration</li>
  </ul>
</div>

<br/><br/><hr/>
<div class="reg container">
<div>
  <h1 class="main box">Swimming Admission Form</h1>
</div>

  <ngb-tabset type="pills">
    <ngb-tab title="Personal Info">
      <ng-template ngbTabContent>
          <br/>
          <form (submit)="savePersonalInfo()">
            <fieldset>
                <legend class="leg"><strong>Personal Information</strong></legend>
                <div class="row">
                  <div class="inlinespace col-sm-12 col-md-6 col-lg-4">
                    <label>Initial: </label><br/>
                    <select name="initial" class="user" [(ngModel)]="personal.initial">
                      <option selected="">Select Initial</option>
                      <option value="Mr.">Mr</option>
                      <option value="Ms.">Miss</option>
                      <option value="Mrs.">Mrs</option>
                    </select>
                  </div>
                  <div class="inlinespace col-sm-12 col-md-6 col-lg-4">
                    <label>First Name: </label><br/>
                    <input class="user" type="text" name="fname" [(ngModel)]="personal.firstname" placeholder="Enter Your First Name" required />
                  </div>
                  <div class="inlinespace col-sm-12 col-md-6 col-lg-4">
                    <label>Middle Name: </label><br/>
                    <input class="user" type="text" name="mname" placeholder="Enter Your Middle Name" />
                  </div>
                
                  <div class="inlinespace col-sm-12 col-md-6 col-lg-4 ">
                    <label>Last Name: </label><br/>
                    <input class="user" type="text" name="lname" placeholder="Enter Your Last Name" />
                  </div>
                  <div class="inlinespace col-sm-12 col-md-6 col-lg-4">
                    <label>Gender: </label><br/>
                    <input type="radio" name="gender" value="male" />Male
                    <input type="radio" name="gender" value="female" />Female
                  </div>
                  <div class="inlinespace col-sm-12 col-md-6 col-lg-4">
                    <label>D.O.B: </label><br/>
                    <input class="user" type="date" name="dob" placeholder="Enter Your D.O.B" />
                  </div>
                </div>
              </fieldset>
              <br/>
            <button class="submit">Submit</button>
            <button type="reset" value="Reset" class="reset">Reset</button>
            <br/><br/>
          </form>
      </ng-template>
    </ngb-tab>
    
    <ngb-tab>
      <ng-template ngbTabTitle>Contact Info</ng-template>
      <ng-template ngbTabContent>
        <br/>
        <form (submit)= "saveContactInfo()">
          <fieldset>
            <legend class="leg"><strong>Contact Information</strong></legend>
            <div class="row">
              <div class="inlinespace col-sm-12 col-md-6 col-lg-4">
                <label>Mobile No.: </label><br/>
                <input class="user" type="number" name="MobNo" [(ngModel)]="contact.mobilenumber" placeholder="Enter Your Mobile No." />
              </div>
              <div class="inlinespace col-sm-12 col-md-6 col-lg-4">
                <label>Email ID: </label><br/>
                <input class="user" type="email" name="eid" [(ngModel)]="contact.emailid" placeholder="Enter Your Email" />
              </div>
              <div class="inlinespace col-sm-12 col-md-6 col-lg-4">
                <label>Address</label><br/>
                <textarea name="address" [(ngModel)]="contact.address"></textarea>
              </div>
            
              <div class="inlinespace col-sm-12 col-md-6 col-lg-4">
                <label>Pincode</label><br/>
                <input class="user" type="tel" maxlength="6" name="pincode" [(ngModel)]="contact.pincode" placeholder="Enter Your Pincode" />
              </div>
              <div class="inlinespace col-sm-12 col-md-6 col-lg-4">
                <label>City</label><br/>
                <input class="user" type="text" name="city" [(ngModel)]="contact.city" placeholder="Enter Your City" />
              </div>
              <div class="inlinespace col-sm-12 col-md-6 col-lg-4">
                <label>State: </label><br/>
                <select name="state" class="user" [(ngModel)]="contact.state">
                  <option selected="">Select State</option>
                  <option value="AS">Assam</option>
                  <option value="AP">Andra Pradesh</option>
                  <option value="BR">Bihar</option>
                  <option value="CH">Chattisgar</option>
                  <option value="KL">Kerala</option>
                  <option value="KA">Karnataka</option>
                </select>
              </div>
            </div>
          </fieldset>
        </form>
          <br/>
          <button class="submit">Submit</button>
          <button type="reset" value="Reset" class="reset">Reset</button>
          <br/><br/>
      </ng-template>
    </ngb-tab>
    
