<br/>
<div class="container">
  <div class="he">
    <h3 class="left">Doplhin Aquatics</h3>
  </div>
    <ul class="right hes">
      <li class="inline">
        <a routerLink="/home">Home</a>
      </li>
      <li class="inline"> / Dolphin Aquatics</li>
    </ul>
</div>

<br/><br/><br/><br/><hr/><br/>

<div class="cont">

  <img [src]="borImg"/>

<p>Dolphin Aquatics has been moved to Padukone - Dravid Centre for Sports Excellence, Bangalore; India's Premier Private Sports Facility Complex
</p>
<p>
 Brand New Olympic-sized 50m, 10-lane pool built by Myrtha Pools & a 20mX10m, 4-lane Heated Indoor Pool
</p>
<p>Dolphin Aquatics is one of the oldest registered swimming clubs in Karnataka. It was register with Karnataka Swimming Association in 1984with Mr.Ameen Shacoor as the President .Mr.Nihar Ameen who is the current program director and Secretary of Dolphin Aquatics took over the running of the club in the year 2010.
</p>
<p>A number of National and International swimmers who were trained by him shifted to Dolphin Aquatics in 2010 when The K.C. REDDY SWIM CENTRE where their used to train was shut down.
</p>
<p>From 2010 onwards Dolphin Aquatics has gone from strength to strength with amazing performances by its swimmers in every age group category from Sub-Junior to Senior at the State and National level.
</p>
<p>Dolphin swimmers have been winning consistently at the International level too with the highlight been Olympian Veerdhawal Khade`s Bronze medal at the Asian game 2010 and Olympian Sandeep Sejwal`s Bronze medal at the 2014 Asian Games.
</p>
<p>This is the highest level of performance for any Indian swimmer in the last 30 years.</p>
<p>In the Para Olympics category Prasanth Karmakar was the first swimmer from India to ever win a medal at the Commonwealth Games in swimming. This feat was achieved at the 2010 Commonwealth Games at New Delhi.</p>
<p>In addition to this Swapnil Patil won a Bronze Medal at Asian Para Games 2014 at Incheon, Korea.</p>
<p>More recently youngster Supriyo Mondal won a Silver Medal in the 200 Meter Butterfly at the Commonwealth Youth Games 2015 at Guam.</p>
<p>Dolphins Supriyo Mondal and Shivani Kataria were the only Indian swimmers who were participating in The Asian Youth Games 2014 at Nanjing and The Youth Olympic Games 2014 at Nanjing ,China.</p>
<p><strong>The vision of the Team</strong><br/>
To create an environment where champions are inevitable in their sport and life in general.</p>
</div>
