<br/>
  <div class="he container">
    <h3 class="left">Contact Us</h3>
  </div>
  <ul class="right hes">
    <li class="inline">
      <a routerLink="/home">Home</a>
    </li>
    <li class="inline"> / Contact Us</li>
  </ul>

<br/><br/><br/><br/><hr/>
<div class="row">
  <div class="col-6">
<div class="mar">
<p> For enquiries about our Competitive Swimming Program please contact: </p>
<div>
  <strong>Head Coach and Program Director:</strong><br/>E-mail: chinnu.poorna03@gmail.com
</div><br/>
<label class="he">Full Name<span style="color:red">*</span></label><br/>
<div>
  <input type="text" placeholder="Your Full Name" />
</div><br/>
<label class="he">Mobile No.<span style="color:red">*</span></label>
<div>
  <input type="number"/>
</div><br/>
<label class="he">Email<span style="color:red">*</span></label>
<div>
  <input type="any" placeholder="Your E-mail ID" />
</div><br/>
<label class="he">Full Name<span style="color:red">*</span></label>
<div>
  <textarea type="Message" placeholder="Your message goes here..."> </textarea>
</div><br/>
<button type="button">Send Message</button>
</div>
</div>

<div class = "col-4">
<div style="float: right; vertical-align: top;" >
  <h1>{{ maptitle }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

</div>
</div>
<script src="http://maps.googleapis.com/maps/api/js"></script>




 