

<br/>
  <div class="bg-warning">
    <h3 class="left">Contact Us</h3>
  </div>
  <br>

<hr/>
<!--<div class="row">
  <div class="col-8">
<div class="mar">
<p> For enquiries about our Competitive Swimming Program please contact: </p>
<div>
  <strong>Head Coach and Program Director:</strong><br/>E-mail: chinnu.poorna03@gmail.com
</div><br/>
<label class="he">Full Name<span style="color:red">*</span></label><br/>
<div>
  <input type="text" placeholder="Your Full Name" />
</div><br/>
<label class="he">Mobile No.<span style="color:red">*</span></label>
<div>
  <input type="number"/>
</div><br/>
<label class="he">Email<span style="color:red">*</span></label>
<div>
  <input type="any" placeholder="Your E-mail ID" />
</div><br/>
<label class="he">Full Name<span style="color:red">*</span></label>
<div>
  <textarea type="Message" placeholder="Your message goes here..."> </textarea>
</div><br/>
<button type="button">Send Message</button>
</div>
</div>
-->

<div class="row bg-warning p-3">

        <!--Grid column-->
        <div class="col-md-8 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row bg-warning">

                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                          <label for="name" class="">Your name:</label><span>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Full Name"></span>    
                        </div>

                        <div class="md-form mb-0">
                          <label for="email" class="">Your email:</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Ex: nonamen@gmail.com">
                            
                        </div>

                        <div class="md-form mb-0">
                          <label for="subject" class="">Mobile No.:</label>
                            <input type="number" id="mobileNumber" name="mobileNumber" class="form-control" placeholder="phone No.">
                            
                        </div>

                        <div class="md-form mb-0">
                          <label for="subject" class="">Subject:</label>
                            <input type="text" id="subject" name="subject" class="form-control" placeholder="Your Subject">
                            
                        </div>

                        <div class="md-form">
                            <label for="message">Your message:</label>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="type your message here"></textarea>
                        </div>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <!--<div class="row bg-warning">
                    <div class="col-md-10">
                        

                        
                   -Grid row-->

            </form>

            <div class="text-center text-md-left bg-warning md-form mb-0">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        
        

<div class = "col-4">
<div style=" vertical-align: top;" >
  <h1>{{ maptitle }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

</div>
</div>

<script src="http://maps.googleapis.com/maps/api/js"></script>




 