<div class="sticky">
  <div class="home">
    <div class="dol">
      <img [src]="dolImg" width="180px"/>
    </div>

      <div>
        <a class="selCont" routerLink="/home">Home</a>
      </div>
      <div>
        <nav>
          <a class="selCont" routerLink="/registration">Registration</a>
        </nav>
      </div>
      <div>
        <nav>
          <a class="selCont" routerLink="/about">About</a>
        </nav>
      </div>
      <div>
        <nav>
          <a class="selCont" routerLink="/contact">Contact Us</a>
        </nav>
      </div>
  </div>
</div>
<br/><br/>

<router-outlet></router-outlet>

<app-footer></app-footer>