<div>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- <img [src]="img" alt="Computer man" width="100%" height="600em" /> -->
  <app-carousel></app-carousel>
  <div class="container">
  <div class="row how-it-works">
  	<div class="col-12">
  		<h2>HOW IT WORKS?</h2>
  	</div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="assets/Learn-to-Swim.png" class="img-responsive">
    	<h3><a href="#">Learn to Swim</a></h3>
    	<p>Our swimming lessons are located in a superb 25m pool at West View Leisure Centre. Our team of enthusiastic ASA certified teachers are committed to ensuring your child reaches their maximum potential using our progressive swimming pathway scheme.</p>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="assets/Competitive-Squads.png" class="img-responsive">
    	<h3><a href="#">Competitive Squads</a></h3>
    	<p>From the first steps in competitive swimming with our “D-squad”, through to national champions in our “Top Squad”, there is a training group to suit all swimmers. The competitive swimming side of the Club is organised into three basic sections.</p></div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <img src="assets/Water-Polo.png" class="img-responsive">
    	<h3><a href="#">About Water Polo</a></h3>
    	<p>Water Polo is a seven-a-side team game played by swimmers in a pool, and consists of four quarters of eight minutes, in which the two teams attempt to score goals by throwing the ball into their opponent’s goal.</p></div>
  </div>
</div>

</div>

